header{
    width: 100%;
    height: 170px;
    background: linear-gradient(57deg, #ED003E, #FF3C00);
    position: fixed;
}

.logo{
    padding: 56.5px
}

header ul{
    list-style-type: none;
    float: right;
}

header ul li{
    display: inline-block;
    padding-left: 90px;
}

header ul li a{
    font-family: 'B-Caps', sans-serif;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.739);
    text-decoration: none;
    line-height: 130px;
}

header ul li a:hover{
    color: white;
    transition: 0.3s;
}

.active{
    color: white;
    font-weight: 600;
}

.menu{
    float: right;
    padding: 40px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 1644px){
    header ul li {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1250px){
    header{
        height: 100px;
    }
    .logo{
        height: 40px;
        padding: 0;
        padding-top: 30px
    }
    header ul{
        display: none;
    }

    .menu{
        display: block;
        width: 40px;
        padding: 30px;
        padding-right: 0;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-family: 'B-Caps';
    font-size: 36px;
    display: block;
    transition: 0.3s;
    color: white;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    right: 5px;
    top: 25px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
.closebtn {
    width: 30px;
    filter: invert(90%);
}